<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SENASOFT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/paper-dashboard.css?v=2.0.1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="fondo" class="my-login-page">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo text-center">
            <a href="#" class="simple-text logo-normal">
                File Organizer Soft
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a class="nav-link text-dark menu" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <p>Inicio</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-dark menu" asp-controller="Users" asp-action="Index">
                        <i class="fas fa-users"></i>
                        Usuarios
                    </a>
                </li>
                <li>
                    <a class="nav-link text-dark menu" asp-controller="FacturasModels" asp-action="Index">
                        <i class="far fa-file"></i>
                        Facturas
                    </a>
                </li>
                <li>
                    <a class="nav-link text-dark menu" asp-controller="Roles" asp-action="Index">
                        <i class="fas fa-dice-d6"></i>
                        Roles
                    </a>
                </li>
                <li>
                    <a class="nav-link text-dark menu" asp-controller="TiposFacturasModels" asp-action="Index">
                        <i class="fas fa-copy"></i>
                        Tipos de Factura
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--div class="container"-->
    <div class="main-panel" style="height: 150vh;">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted text-center">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/core/jquery.min.js"></script>
    <script src="~/js/core/popper.min.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>